<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="main">
    <div class="box">
      <!-- <section class="Header">Header</section>
      <section class="Members">Members</section>
      <section class="Gallery">Gallery</section>
      <section class="Details">Details</section> -->
      <table border="1px" class="table">
        <tr>
          <th>Single Page Appliaction</th>
          <th>Members</th>
          <th>Gallery</th>
          <th>Details</th>
        </tr>
        <tr>
          <td>Members</td>
          <td>Anjaneyulu</td>
          <td>Sunitha</td>
          <td>Jayaprakash</td>
          <td>Lavanya</td>
        </tr>
        <tr>
          <td>Gallery</td>
          <td><img src={{members.img1}} alt="Father" height="100px" width="200px"></td>
          <td><img src={{members.img2}} alt="Mother" height="100px" width="200px"></td>
          <td><img src={{members.img3}} alt="me" height="100px" width="200px"></td>
          <td><img src={{members.img4}} alt="Sister" height="100px" width="200px"></td>
        </tr>
        <tr>
          <td>Details</td>
          <td><details><summary>{{members.fname}}</summary><p>{{members.fcontactno}}</p></details></td>
          <td><details><summary>{{members.mname}}</summary><p>{{members.mcontactno}}</p></details></td>
          <td><details><summary>{{members.mename}}</summary><p>{{members.mecontactno}}</p></details></td>
          <td><details><summary>{{members.sname}}</summary><p>{{members.scontactno}}</p></details></td>
        </tr>
      </table>
    </div>
  </div>
</body>
</html>
